.player-position {
    background: blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
}